// Media query para mobile
@media (max-width: 480px) {
    .anuncio { font-size: 16px; }
  
    .logo { width: 70px !important;}
  
    h1 { font-size: 20px; }
  
    .parrafo-index { font-size: 14px; }
  
    .boton { padding: 10px; }
  
    .imagenes-centro { padding: 5%; }
  
    .destacadas img { width: 100%;
    object-fit: cover; }

     
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
    }

  }

    
