// Media query para tablet
@media (max-width: 768px) {
    .anuncio { font-size: 18px; }

    footer {
      flex-direction: column; /* Cambia a layout en columna */
      text-align: center;
  
      .direcciones {
        flex: 1 1 auto;
      }
  
      .logo {
        margin: 10px auto;
      }
  
      a {
        margin-top: 10px;
      }
    }
  
    header {
      flex-direction: row;
      align-items: center;
    }
  
    ul {
      flex-direction: column;
      padding: 10px 0;
  
      li a { margin: 10px 0; }
    }
  
    .logo { width: 80px !important; }
  
    .imagenes-centro { flex-direction: column; }
  
    .destacadas img {
      width: calc(100% - 10px);
      margin: 10px 0;
    }
  
    h1 { font-size: 22px; }
  
    .parrafo-index { font-size: 16px; }
  
    .boton { font-size: medium; }
  
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

 
  