* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boton {
  background-color: rgb(130, 145, 230);
  color: rgb(245, 245, 205);
  border-radius: 3px;
  padding: 15px;
  border: none;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: small;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.boton:hover {
  color: blue;
  background-color: rgb(192, 215, 238);
  text-decoration: solid;
}

input:focus {
  background-color: darkcyan;
  color: bisque;
}

.anuncio {
  font-size: 20px;
  font-weight: bold;
  background-color: beige;
  text-align: center;
}

ul {
  font-weight: bold;
  background-color: aquamarine;
  display: flex;
  list-style-type: none;
}
ul li a {
  margin: 25px;
  display: flex;
}

.imagenes-centro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: 1%;
  height: auto;
  max-width: 100%;
}

.destacadas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.destacadas img {
  width: calc(30% - 10px);
  margin-bottom: 20px;
  object-fit: cover;
  margin: 20px;
  height: auto;
  max-width: 100%;
}

footer {
  background-color: beige;
  text-align: end;
  padding: 12px;
  display: flex;
  justify-content: right;
}
footer a {
  padding-right: 40px;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: aquamarine;
  font-size: 19px;
}
body main {
  margin: 15px;
}

.parrafo-index {
  margin: 3%;
  align-items: center;
  font-size: 19px;
  font-style: italic;
}

.direcciones {
  margin: 10px;
  text-align: right;
}

h1 {
  font-size: 25px;
  background-color: beige;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
}

.grid-container {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 250px);
  height: 100vh;
  gap: 15px;
  align-items: center;
}
.grid-container .grid-item-01 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #F5F5DC;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
}
.grid-container .grid-item-02 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #F5F5DC;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
}
.grid-container .grid-item-03 {
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: #F5F5DC;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
}
.grid-container .grid-item-04 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #F5F5DC;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
}
.grid-container .grid-item-05 {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #F5F5DC;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
}
.grid-container .grid-item-06 {
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: #F5F5DC;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
}

.galeria {
  max-width: 100%;
  height: auto;
  width: 20rem;
}

img:hover {
  opacity: 0.7;
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}
header nav ul {
  font-weight: bold;
  background-color: aquamarine;
  display: flex;
  list-style-type: none;
}
header nav ul li a {
  margin: 25px;
  display: flex;
  color: hsl(249, 80%, 67%);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 50px;
  float: right;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  ul {
    flex-direction: column;
    padding: 10px 0;
  }
  ul li a {
    margin: 10px 0;
  }
  .logo {
    width: 40px;
  }
}
@media (max-width: 480px) {
  .logo {
    width: 30px;
  }
}
@media (max-width: 480px) {
  .anuncio {
    font-size: 16px;
  }
  .logo {
    width: 70px !important;
  }
  h1 {
    font-size: 20px;
  }
  .parrafo-index {
    font-size: 14px;
  }
  .boton {
    padding: 10px;
  }
  .imagenes-centro {
    padding: 5%;
  }
  .destacadas img {
    width: 100%;
    object-fit: cover;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 768px) {
  .anuncio {
    font-size: 18px;
  }
  header {
    flex-direction: row;
    align-items: center;
  }
  ul {
    flex-direction: column;
    padding: 10px 0;
  }
  ul li a {
    margin: 10px 0;
  }
  .logo {
    width: 80px !important;
  }
  .imagenes-centro {
    flex-direction: column;
  }
  .destacadas img {
    width: calc(100% - 10px);
    margin: 10px 0;
  }
  h1 {
    font-size: 22px;
  }
  .parrafo-index {
    font-size: 16px;
  }
  .boton {
    font-size: medium;
  }
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
