
@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin grid-item-style {
    background-color: #F5F5DC;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow: hidden;
  }
  