
$primary-bg-color: rgb(253, 248, 248);
$secondary-bg-color: rgb(229, 241, 241);
$accent-color: bisque;
$font-family-main: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$highlight-color: rgb(229, 241, 241);
$button-bg-color: rgb(130, 145, 230);
$button-hover-bg-color: rgb(192, 215, 238);
$font-primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$form-width: 400px; 
$primary-color: #3498db; // Color principal para los bordes y botones

