
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
  
    nav {
      ul {
        font-weight: bold;
        background-color: $primary-bg-color;
        display: flex;
        list-style-type: none;
  
        li {
          a {
            margin: 25px;
            display: flex;
            color: #145386;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
          }
        }
      }
    }
  }
  
  .logo {
    width: 50px;
    float: right;
  }
  
