@import "../utilities/variables";

//Botón reserva de hora//

.boton {
  background-color: $button-bg-color;
  color: rgb(245, 245, 205);
  border-radius: 3px;
  padding: 15px;
  border: none;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: small;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  .button {
  background-color: rgb(180, 180, 240);
  color: white;
  padding: 10px 20px;
  transition: background-color 0.5s ease;
}

 &:hover {
    color: rgb(104, 174, 184);
    background-color: rgb(74, 138, 138);
    text-decoration: solid;
  }
}

input:focus {
  background-color: rgb(90, 155, 155);
  color: bisque;
}


.btn {
  background-color: rgb(109, 184, 184);
  color: rgb(255, 255, 255);
  border: none; 
  border-radius: 5px ;
  cursor: pointer;
  transition: 0.5s ease;
    
  &:hover {
  background-image: linear-gradient(to left,rgb(241, 229, 229), rgb(127, 199, 175));
  color: rgb(49, 114, 117) ;
    }
  }
